body {
    
    background-color: aqua;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


section.board {
    display: grid;
    background-color: blue;
    border: 3px solid black;
    padding: 10px;
    justify-content: center;
    align-content: center;
    grid-template-columns: repeat(5, 20vmin);
    grid-template-rows: repeat(6, 20vmin);
    grid-gap: 1vmin;
}


.sqr {
    border: 3px solid rgb(39, 36, 38);
    display: flex;
    font-size: 24px;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
}

section.keyboard {
    margin-top: 50px;
    align-items: center;
    justify-content: center;
}

.keyboard > div {
    display: flex;
    display: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.key {
    border: 3px solid black;
    padding: 10px;
}

.top-row {
    display: flex;
}

/* .top-row {
    display: inline;
    height: 3em;
    margin: 2em;
}

.middle-row {
    display: inline-block;
} */