body {
    background-color: white;
    font-family: 'Schibsted Grotesk', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    --body-grey: #e2e3eb;
    --body-charcoal:  #747479;
    --body-green: #83fad2;
    --body-yellow: #f5f6c6;
    --body-pink: #cd9ac6;
    --body-blue: #69c4f5;
    --body-purple:  #da96f2;

}

h1 {
    display: flex;
    flex-wrap: wrap;
    height: 100px;
    align-content: center;
    margin: 0;
}


section.board {
    display: flex;
    flex-direction: column;
    /* background-color: var(--body-grey); */
    /* border: 3px solid var(--body-grey); */
    padding: 6px;
    justify-content: center;
    align-content: center;
}

.row {
    display: flex;
    justify-content: space-around;
}

.sqr {
    display: flex;
    border: 3px solid var(--body-grey);
    font-size: 42px;
    font-weight: bold;
    color: var(--body-charcoal);
    height: 60px;
    width: 60px;
    text-transform: uppercase;
    align-items: center;
    justify-content: center;
    margin: 4px;
}


.green {
    border: 3px solid var(--body-green);;
    display: flex;
    color: black;
    background-color: var(--body-green);
    font-size: 24px;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
}

.yellow {
    border: 3px solid var(--body-yellow);;
    display: flex;
    color: black;
    background-color: var(--body-yellow);
    font-size: 24px;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
}

.black {
    border: 3px solid var(--body-charcoal);
    display: flex;
    background-color: var(--body-charcoal);
    color: white;
    font-size: 24px;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
}

section.keyboard {
    margin-top: 50px;
    align-items: center;
    justify-content: center;
}

.keyboard > div {
    display: flex;
    display: column;
    min-width: 40px;

    align-items: center;
    justify-content: center;
    text-align: center;
}

.key {
    padding: 12px 14px;
    max-width: 100%;
    margin: 2px;
    color: black;
    font-weight: bold;
    border: 3px solid var(--body-grey);
    background-color: var(--body-grey);
    border-radius: 12px;
}

.top-row {
    display: flex;
}

.resetBtn {
    background-color: var(--body-pink);
    width: 180px;
    height: 36px;
    border-radius: 10px;
}

button {
    background-color: var(--body-pink);
    border: none;
    color: white;
    font-size: 24px;
}

@media (max-width: 500px) {

    h1 {
        display: flex;
        flex-wrap: wrap;
        height: 60px;
        align-content: center;
        margin: 0;
    }
    h2 {
        margin-top: 0;
        margin-bottom: 10px;
        font-size: 20px;
    }


    .sqr {
        font-size: 24px;
        font-weight: bold;
        height: 30px;
        width: 30px;
        margin: 2px;
    }

    section.keyboard {
        margin-top: 14px;
        align-items: center;
        justify-content: center;
    }
    .key {
        padding: 6px 7px;
        max-width: 100%;
        margin: 1px;
        color: black;
        font-weight: bold;
        border: 3px solid var(--body-grey);
        background-color: var(--body-grey);
        border-radius: 12px;
    }
    .resetBtn {
        background-color: var(--body-pink);
        width: 100px;
        height: 26px;
        border-radius: 10px;
    }
    
    button {
        background-color: var(--body-pink);
        border: none;
        color: white;
        font-size: 14px;
    }
}